@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&family=Noto+Emoji:wght@500&display=swap');

@font-face {
  font-family: SFProText;
  font-style:normal;
  font-weight: normal;
  src: url('/static/fonts/SFProText-Regular.ttf')  format('truetype');
}

@font-face {
  font-family: SFProText;
  font-style:normal;
  font-weight: 100, 200, 300, 400;
  src: url('/static/fonts/SFProText-Light.ttf')  format('truetype');
}

@font-face {
  font-family: SFProText;
  font-style:normal;
  font-weight: 600, 700, 800, 900, bold;
  src: url('/static/fonts/SFProText-SemiBold.ttf')  format('truetype');
}

@font-face {
  font-family: ProximaNova;
  src: url("/static/fonts/ProximaNova.otf") format("opentype");
}

@font-face {
  font-family: SFProDisplay;
  font-style: normal;
  font-weight: bold;
  src: url("/static/fonts/SFProDisplayBold.otf") format("opentype");
}

@font-face {
  font-family: SFProDisplay;
  font-style: normal;
  font-weight: normal;
  src: url("/static/fonts/SFProDisplayRegular.otf") format("opentype");
}

@font-face {
  font-family: SFProDisplay;
  font-style: normal;
  font-weight: 500;
  src: url("/static/fonts/SFProDisplayMedium.otf") format("opentype");
}

@font-face {
  font-family: SFProDisplay;
  font-style: italic;
  font-weight: bold;
  src: url("/static/fonts/SFProDisplayHeavyItalic.otf") format("opentype");
}

@font-face {
  font-family: SFProDisplay;
  font-style: italic;
  font-weight: 500;
  src: url("/static/fonts/SFProDisplaySemiBoldItalic.otf") format("opentype");
}

@font-face {
  font-family: SFProDisplay;
  font-style: italic;
  font-weight: 200;
  src: url("/static/fonts/SFProDisplayThinItalic.otf") format("opentype");
}

@font-face {
  font-family: SFProDisplay;
  font-style: italic;
  font-weight: 100;
  src: url("/static/fonts/SFProDisplayUltraLightItalic.otf") format("opentype");
}

:root {
  --browse-bg: #343c4c;
  --bg-color: #222831;
  --navbar-color: #222831;
  --navbar-text:#ffffff;
  --dropdown-bg: #2D2727;
  --dropdown-hover-bg:#413543;
  --dropdown-hover:#4F4557;
  --header-bg:#2d333c;
  --profile-bg:#212A3E;
  --profile-btn-bg:#454545;
  --profile-btn-hover:#6e6e6e;
  --profile-border-bg:#5c5c5c;
  --profile-button-shadow: #222222;
  --profile-button-shadow-hover: #111;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

body, html {
  margin: 0;
  padding: 0;
  font-family: SFProText, 'Noto Color Emoji';
  background: var(--bg-color)
}

h1, h2, h3, h4, h5, h6 {
  font-family: SFProDisplay, 'Noto Color Emoji';
  color: ghostwhite;
}

p, a {
  font-family: SFProText, 'Noto Color Emoji';
  color:ghostwhite;
}

.navbar {
  overflow: hidden;
  background-color: var(--navbar-color);
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.navbar a .active {
  background-color: var(--dropdown-bg);
}
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: var(--dropdown-hover);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--dropdown-bg);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: ghostwhite;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: var(--dropdown-hover-bg);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.boxholder {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  margin-top:5%;
  padding: 1em;
}

.container {
  background: var(--header-bg);
  width: 100%;
  margin: 0 .5em;
  padding: .5em;
  flex-wrap: wrap;
  color: ghostwhite;
  min-height: 100%;
  border-radius: 20px;
}

.container > div {
  flex: 50%;
}

.container + .container {
  margin-left: 5px;
}

.header {
  padding: 60px;
  text-align: center;
  background: var(--header-bg);
  color: white;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

#text {
	display: inline-block;
	vertical-align: middle;
	color: ghostwhite;
	letter-spacing: 2px;
}

#cursor {
	display: inline-block;
	vertical-align: middle;
	width: 3px;
	height: 50px;
	background-color: ghostwhite;
	animation: blink .75s step-end infinite;
}

@keyframes blink {
	from, to { 
		background-color: transparent 
	}
	50% { 
		background-color: ghostwhite; 
	}
}

.profilebox {
  color: ghostwhite;
  background: var(--profile-bg);
  max-width: 75%;
  justify-content:center;
  padding: 5%;
  border-radius: 20px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.profilebio {
  text-align:center;
  white-space: pre-line;
}

.profiletext {
  text-align: center;
}

.neonText {
  color: #c7c7c7;
  text-shadow:
    0 0 1px #b0b0b0,
    0 0 2px #e6e6e6,
    0 0 1px #dbdbdb,
    0 0 6px #6d3ae4,
    0 0 7px #3d30f3,
    0 0 10px #9148fe,
    0 0 15px #763ccd,
    0 0 17px #c347e6;
}

.profilestatusimg {
  display:flex;
}

.profilestatus {
  color: ghostwhite;
  text-align:center;
}

.profileimg {
  border-radius: 50%;
  width: 30%;
  height: 30%;
  border: 2px solid var(--profile-border-bg);
  aspect-ratio: 1 / 1;
}

.profilelinkbtn {
  border-radius:5px;
  background: var(--profile-btn-bg);
  padding: 15px 20px;
  max-width: 100%;
  max-height: 50%;
  width: 100%;
  text-align:center;
  justify-content:center;
  border: none;
  box-shadow: 6px 6px 2px 1px var(--profile-button-shadow);
  transition: all .5s;
}

.profilelink {
  text-decoration: none;
  color: ghostwhite;
}

.profilelinkbtn:hover {
  box-shadow: 0px 0 0px 0px var(--profile-button-shadow-hover);
  text-decoration: none;
  border-bottom:1px solid ghostwhite;
  background: var(--profile-btn-hover);
}

.profilelinkbtn + .profilelinkbtn {
  margin-bottom: 5;
}

.profilebadges {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  justify-content:space-evenly;
  text-align: right;
  margin-top: 10%;
  margin-left: 10%;
  flex-wrap: wrap;
}

.profilebadges img {
  width: 50px;
  height: 50px;
}

.profilebadges img:hover {
  fill: #52a5ff;
}

.box {
  padding: 20px;
  max-width: 20%;
  max-height: 75%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.error {
  padding: 20px;
  background:rgba(255, 0, 51, 0.5);
  color: rgba(255, 148, 148, 1);
  border-radius: 20px;
  max-width: 25%;
}

.success {
  padding: 20px;
  background:rgba(51, 255, 0, 0.5);
  color: rgba(1, 50, 32, 1);
  border-radius: 20px;
  max-width: 25%;
}

button {
  border: 2px solid var(--profile-border-bg);
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

button a {
  color: black;
  text-decoration: none;
}

.headerbutton {
  border-color: #e7e7e7;
  color: black;
}

.headerbutton:hover {
  background: #e7e7e7;
}

.browsepfp {
  border-radius: 50%;
  border: 2px solid var(--profile-border-bg);
  aspect-ratio: 1 / 1;
  height: 200px;
  width: 200px;
}

.browsestatus {
  font-size: 20px;
}

.browsename {
  font-weight: bold;
  font-size:30px;
}

.profiles {
  display: flex;
  text-align: center;
  color: ghostwhite;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

.profilecontainer {
  background: var(--browse-bg);
  padding:60px 50px;
  justify-content:center;
  max-width: 50%;
  max-height: 50%;
  border-radius: 20px;
  margin-top: 15px;
}

.badgetype {
  
}

.badgetype:hover {
  
}

form {
  display: flex;
}

input[type=text] {
  padding: 10px;
  margin:10px 0;
  border: 2px solid #eee;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  border-radius: 20px;
}

input[type=password] {
  padding: 10px;
  margin:10px 0;
  border: 2px solid #eee;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  border-radius: 20px;
}

input[type=date] {
  padding: 10px;
  margin:10px 0;
  border: 2px solid #eee;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  border-radius: 20px;
}

input[type=email] {
  padding: 10px;
  margin:10px 0;
  border: 2px solid #eee;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  border-radius: 20px;
}

input[type=submit] {
  margin:10px 0;
  padding:10px;
  border: 2px solid #eee;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  border-radius: 20px;
}

label {
  position: relative;
  cursor: pointer;
  color: ghostwhite;
  padding-right: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
}

label input[type=checkbox] {
  position: absolute;
  opactiy: 0;
  width:0; 
  height:0;
  color: ghostwhite;
}

label span {
  position: absolute;
  top:0;
  left:0;
  width:20px; 
  height:20px;
  background-color: #ddd;
  transition: .3s background-color;
}

label span:after {
  content: "";
  position: absolute;
  display: none;
  left: 6px;
  top: 2px;
  width: 4px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
label:hover span {
  background-color: #ccc;
}

label input:checked ~ span {
  background-color: #2eaadc;
}
label input:checked ~ span:after {
  display:block;
}

::-webkit-file-upload-button {
  padding: 1em;
  color: white;
  background: var(--browse-bg);
  border: none;
}

.settingsform {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

.otherbox {
  background: var(--header-bg);
  padding: 20px;
  width: 100%;
  height: 5%;
}

.settingstext {
  padding: 20px;
  border:none;
  color: ghostwhite;
  background: var(--browse-bg);
  max-width: 100%;
  max-height:100%;
  height: 300px;
}